<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Student Information</title>
  </head>
  <body>
    <div id="app"></div>
    <template id="Divtemplate" type="x-template">
      <div class="container">
        <h1>{{ pageTitle }}</h1>
        <h2>{{ sectionTitle }}</h2>
        <div v-html="profilePhoto" class="profilePhoto"></div>
        <div>
          <form id="form1">
            <fieldset
              v-bind:class="{validForm: newStudent.valid, invalidForm: newStudent.invalid}"
            >
              <legend>ADD STUDENT</legend>
              <label
                >First Name:
                <input
                  type="text"
                  v-model="newStudent.firstName"
                  placeholder="Enter student's first name"
              /></label>
              <label
                >Last Name:
                <input
                  type="text"
                  v-model="newStudent.lastName"
                  placeholder="Enter student's last name"
              /></label>

              <label>Major: </label>
              <label>
                Major ID:
                <input
                  type="text"
                  v-model="newStudent.major.id"
                  placeholder="Enter student's major ID number"
                />
                Major Name:<input
                  type="text"
                  v-model="newStudent.major.name"
                  placeholder="Enter student's major name"
                />
                Total Credits:
                <input
                  type="text"
                  v-model="newStudent.major.totalCredits"
                  placeholder="Enter student's accumulated credits"
                />
              </label>

              <label
                >Expected Graduation Year:
                <input
                  type="text"
                  v-model="newStudent.graduationYear"
                  placeholder="e.g. 2023"
              /></label>
              <label
                >GPA:
                <input
                  type="text"
                  v-model="newStudent.gpa"
                  placeholder="Enter student's current GPA"
              /></label>
              <fieldset
                class="registrations"
                v-bind:class="{validForm: registration.valid, invalidForm: registration.invalid}"
              >
                <legend>Course Registration</legend>
                <label
                  >Course Number: <br />
                  <select v-model="registration.courseNumber">
                    <option value="CMSC1212">CMSC1212</option>
                    <option value="CMSC1255">CMSC1255</option>
                    <option value="CMSC1228">CMSC1228</option>
                  </select></label
                >
                <label>
                  Number of Credits: <br />
                  <input
                    type="number"
                    v-model.number="registration.numOfCredits"
                /></label>
                <label class="att"
                  >Attendance Type: <br />

                  <input
                    type="radio"
                    value="Face-To-Face"
                    v-model="registration.attendanceType"
                  />
                  Face-To-Face

                  <input
                    type="radio"
                    value="Synchronous Online"
                    v-model="registration.attendanceType"
                  />
                  Synchronous Online

                  <input
                    type="radio"
                    value="Asynchronous Online"
                    v-model="registration.attendanceType"
                  />Asynchronous Online
                </label>
                <label
                  >Book Format: <br />
                  <input
                    type="checkbox"
                    value="Physical"
                    v-model="registration.bookFormat"
                  />
                  Physical
                  <input
                    type="checkbox"
                    value="Digital"
                    v-model="registration.bookFormat"
                  />
                  Digital
                  <input
                    type="checkbox"
                    value="Audio"
                    v-model="registration.bookFormat"
                  />
                  Audio
                </label>
              </fieldset>
              <button
                type="submit"
                class="newStdBtn"
                v-on:click.prevent="register()"
              >
                Register
              </button>
            </fieldset>
            <button
              type="submit"
              class="newStdBtn"
              v-on:click.prevent="setNewStudent()"
            >
              ADD
            </button>
          </form>
          <form id="form1"></form>
        </div>
        <div
          class="studentInfo"
          v-for="(singleStudent, index) in student"
          :key="singleStudent.firstName"
        >
          <p>First Name: {{ singleStudent.firstName }}</p>
          <p>Last Name: {{ singleStudent.lastName }}</p>

          <p>
            Full Name: {{ fullName(singleStudent.lastName,
            singleStudent.firstName) }}
          </p>

          <p v-if="singleStudent.preferredName != null">
            Preferred Name: {{ singleStudent.preferredName }}
          </p>
          <input
            class="input"
            type="text"
            v-show="visibleOrNot"
            v-model="singleStudent.preferredName"
            placeholder="Enter your preferred name!"
          />
          <button class="hideInput" @click="hideInput()">
            Edit Preferred Name
          </button>
          <p v-show="singleStudent.firstName == 'Abdullahi'">
            TechID: {{ techID }}
          </p>
          <button
            type="button"
            id="setTechID"
            v-show="singleStudent.firstName == 'Abdullahi'"
          >
            Show TechID
          </button>
          <p class="major">
            Major: <br />
            <span> Id: {{singleStudent.major.id}}</span>
            <span>Name: {{singleStudent.major.name}}</span>
            <span>Total Credits: {{singleStudent.major.totalCredits}}</span>
          </p>
          <p v-show="singleStudent.graduationYear == 2023">
            Expected Graduation Year: {{ singleStudent.graduationYear }}
          </p>
          <p v-if="singleStudent.gpa >= 3" v-bind:class="setGPAColor">
            GPA: A - {{ singleStudent.gpa }}
          </p>
          <p v-else-if="singleStudent.gpa >= 2" v-bind:class="setGPAColor">
            GPA: B - {{ singleStudent.gpa }}
          </p>
          <p v-else-if="singleStudent.gpa >= 1" v-bind:class="setGPAColor">
            GPA: C - {{ singleStudent.gpa }}
          </p>
          <p v-else-if="singleStudent.gpa == 0" v-bind:class="setGPAColor">
            GPA: D - {{ singleStudent.gpa }}
          </p>
          <p v-else v-bind:class="setGPAColor">
            GPA: F - {{ singleStudent.gpa }}
          </p>
          <div v-for="register in newStudent.registrations">
            <p>Course Number: {{register.courseNumber}}</p>
            <p>Attendance Type: {{register.attendanceType}}</p>
            <p>Number of Credits: {{register.numOfCredits}}</p>
            <p v-for="reg in register.bookFormat">Book Format: {{ reg }}</p>
          </div>
          <div v-if="index < student.length-1"><hr /></div>
        </div>

        <!-- <button type="button" id="setTechID">Show TechID</button> -->
        <p class="green" v-bind="updated">Updated On: {{ updated }}</p>
      </div>
    </template>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="vue.js"></script>
  </body>
</html>
